fastapi
uvicorn[standard]

python-dotenv
python-multipart
requests

supabase
SQLAlchemy
psycopg2-binary

numpy
scikit-learn
scipy

torch
torchvision
transformers
sentence-transformers
sentencepiece
open-clip-torch

Pillow
huggingface_hub
safetensors
regex
tqdm